body {
    font-family:Arial,sans-serif;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 200px;
}

#modal-body {
    text-align:center
}

ul {
    border: solid;
}